/* Basic Settings */
*, *:before, *:after
  box-sizing: border-box

body 
  // font-family: 'Nunito', sans-serif;
  font-family: 'Mulish', sans-serif
  padding: 0
  margin: 0

.container
  max-width: 1110px
  width: 90%
  margin: 0 auto

/* Header */
.header
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 39px
    padding-bottom: 41px
  &-menu
    background-color: #0A223D
    padding: 31px 0px
    &-wrapper
      display: flex
      justify-content: space-between
    &__link
      font-weight: 700
      color: #ffffff
      text-transform: uppercase
      text-decoration: none
.search-form
  display: flex
  align-items: center
  flex-grow: 1;
  padding-left: 10.8%;
  padding-right: 30.8%;
  &__input
    padding-top: 12px
    padding-bottom: 13px
    padding-left: 23px
    flex-basis: 80%
    border: none
    &::placeholder
      font-family: 'Mulish', sans-serif
      color: #333333
  &__button
    background-color: #EC1F46
    padding: 12px 25px
    flex-basis: 20%
    border: none
    border-radius: 0px 6px 6px 0px
.user
  display: flex
  align-items: center
  text-decoration: none
  color: #333333
  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
    margin-right: 18px

